*{
    margin :0 ;
    padding: 0;
    box-sizing: border-box;
    font-family:cursive;
    
}
body{
    background: url(pic/pizza1.png) no-repeat;
    background-size: cover;
    width: 100%;
    height: 100%;
    
}
.con{
    color: white;
}
#header{
    color: white;
    margin: 20px;
    cursor: pointer;
}
#header .logo{
    margin-left: 30px;
}
#header ul{
    margin-left: 900px;
    display: flex;
    margin-top: -50px;
}
#header li {
    padding: 30px;
    font-size: 30px;
    list-style: none;
}
#header a{
    text-decoration: none;
    color: white;
}
#header a:hover{
    background-color: white;
    color: black;
    padding: 20px;
}
#header a.active{
    background-color: white;
    color: black;
    padding: 20px;
}
#main .content{
    margin: 20px;
    padding: 50px;
   
    color: white;
}
#main .content h1{
    margin-top: -30px;
    margin-bottom: -30px;
    font-size: 180px;
    color: red;
    font-family:'Times New Roman', Times, serif;
}
.content h1 span{
    color: orange;
}
.content h1 .r{
    font-size: 200px;
}
#main .content h2{
    font-size: 100px;
}
#main .content h4{

    font-size: 50px;
}
#main .content h5{
    font-size: 30px;
    color: yellow;
}
#main button{
    font-size: 20px;
    background-color: rgba(255, 255, 0, 0.884);
    border-radius: 20px;
    margin-left: 20px;
    padding: 20px;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif ;
}
#main button:hover{
    background-color: white;
    color: black;
    cursor: pointer;
    padding: 30px;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif ;
}
#main .but{
    
    margin-left: 70px;
    margin-top: -60px;
}
#main .icon{
    color: white;
    font-size: 30px;
    text-align: center;
    margin-bottom: -120px;
    margin-top: 40px;
    cursor: pointer;
}
footer{
    text-align: center;
    
}
footer h4{
    margin-top: 130px;
    color: white;
}
@media (max-width:499px){
    body{
        background-image: url(pic/pizza-4968645__340\ \(copy\).jpg);
        width: 100px;
        height: 300vh;
    }
    #main{
        width: 900px;
    }
    #main .content {
    margin: 20px;
    padding: 50px;
    color: white;
}

#header ul {
    margin-left: 430px;
    display: flex;
    margin-top: -50px;
}
#main .icon {
    color: white;
    font-size: 30px;
    text-align: center;
    margin-bottom: 0px;
    margin-top: 170vh;
    cursor: pointer;
}
      
}
@media (max-width:899px){
    body{
        background-image: url(pic/pizza-4968645__340\ \(copy\).jpg);
        height: 200vh;
    }
    #main{
        width: 900px;
    }
    #main .content h5 {
        margin-top: 30px;
        font-size: 40px;
      
        
    }
    #main .icon {
        color: black;
        font-size: 50px;
        text-align: center;
        margin-left: 500px;
        margin-bottom: -150px;
        margin-top: 100vh;
        cursor: pointer;
    }
}
@media (max-width:1299px){
    body{
        
        height: 120vh;
    }
    #header ul {
        margin-left: 600px;
        display: flex;
        margin-top: -50px;
    }
    
}